form{
    margin-top: 2rem;
    background-color: gray;
    padding: 1rem 1rem;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 0px black;
}




form h3{
    margin-left: 1rem;
    margin-bottom: 1rem;

}


.firstform{
    display: flex;
    justify-content: space-around;

}
.secondform{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}
.inner{
    display: block;
    padding: 8px ;
}
input{
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    width: 80%;
}
input:focus{
    outline: none;
}
.addexpence{
    padding: 5px 10px ;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 900;


}
button:focus{
    outline: none;
}

label{
    font-weight: 800;
}

