form{
    display: grid;
    grid-template-rows: 30px 1fr 1fr  ;
    grid-template-columns:  1fr 1fr ;
    grid-template-areas: "head  head"
                          " Sinput    Sprice "
                           " Sdate Sbutton";
    width: fit-content;                       
    margin-top: 2rem;
    background-color: gray;
    padding: 1rem 1rem;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 0px black;
}




form h3{
    display: grid;
    grid-area: head;
    align-items: center;
    text-decoration:underline;
    justify-content: center;
    margin-left: 1rem;
    margin-bottom: 1rem;

}




form #expenceTitle{
    grid-area: p;
}
#Sinput{
    grid-area:Sinput ;
}
#Sprice{
    grid-area: Sprice;
}
#Sdate{
    grid-area: Sdate;
}
#Sbutton{
    grid-area: Sbutton;
    
}

input{
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    width: 91%;
}
input:focus{
    outline: none;
}
.addexpence{
    padding: 5px 10px ;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 900;
    margin-top: 12px;


}
button:focus{
    outline: none;
}

label{
    font-weight: 800;
}

